net.ipv6.conf.all.disable_ipv6 = 1
net.ipv6.conf.default.disable_ipv6 = 1
net.bridge.bridge-nf-call-iptables = 1
net.bridge.bridge-nf-call-ip6tables = 1
net.bridge.bridge-nf-call-arptables = 1

net.ipv4.ip_forward = 1
net.ipv4.tcp_tw_reuse = 0
{% if ansible_distribution in ["CentOS","RedHat"] and ansible_kernel is version('4.12', '<') %}
net.ipv4.tcp_tw_recycle = 0
{% endif %}

{%- if KUBE_APISERVER_IP != groups['kube_master'][0] -%}
net.ipv4.ip_nonlocal_bind=1
{%- endif -%} 

net.netfilter.nf_conntrack_max=655360
vm.max_map_count=655360
vm.swappiness = 0
fs.file-max=6553600

vm.overcommit_memory=0
vm.panic_on_oom=0
fs.inotify.max_user_instances=8192
fs.inotify.max_user_watches=819200

