{
  "registry-mirrors": [
     "https://hub-mirror.c.163.com",
     "https://dockerhub.azk8s.cn" 
  ],
  "log-driver": "json-file",
  "log-level": "warn",
  "log-opts": { "max-size": "100m", "max-file": "3" },
  "max-concurrent-downloads": 50,
  "data-root": "/var/lib/docker"
}
